:root {
  --font-size: 36px;
  --text-color: #000;
  --background-color: #fff;

  font-size: var(--font-size);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #000;
  }
}

/* Code Theme */
:root {
  --sc-background-color-light: rgb(61, 135, 245, 0.1);
  --sc-background-color: #fff;
  --sc-background-color-layer: var(--sc-background-color);
  --sc-inline-code-background-color: rgb(242, 242, 242);
  --sc-line-highlight-color: #c2e8ff75;
  --sc-line-number-color: #adadad;
  --sc-link-color: rgb(61, 135, 245);
  --sc-text-color-light: rgba(17, 17, 17, 0.2);
  --sc-text-color: #111;

  --sc-scrollbar-background: transparent;
  --sc-thumb-background: rgba(17, 17, 17, 0.4);

  --sc-editor-background: transparent;
  --sc-editor-findmatchbackground: #ffe792;
  --sc-editor-findmatchhighlightbackground: #ffe79250;
  --sc-editor-foreground: #111111;
  --sc-editor-inactiveselectionbackground: #c2e8ff30;
  --sc-editor-linehighlightbackground: #a5a5a520;
  --sc-editor-selectionbackground: #c2e8ff;
  --sc-editor-selectionhighlightbackground: #c2e8ff50;
  --sc-editorbrackethighlight-foreground2: #284181;
  --sc-editorbrackethighlight-foreground3: #626fc9;
  --sc-editorbrackethighlight-foreground4: #352de3;
  --sc-editorbrackethighlight-foreground5: #bb28c7;
  --sc-editorbrackethighlight-unexpectedbracket-foreground: #cd3131;
  --sc-editorcursor-foreground: #3b68fc;
  --sc-editorlinenumber-foreground: #adadad;
  --sc-editorwhitespace-foreground: #e0e0e0;
  --sc-focusborder: #3d87f5;
  --sc-list-focushighlightforeground: #0066bf;
  --sc-comments-fg: #919191;
  --sc-comments-documentation-fg: #bc670f;
  --sc-comments-documentation-bg: #fffdf7;
  --sc-invalid-deprecated-fg: #ffffff;
  --sc-invalid-deprecated-bg: #990000;
  --sc-types-fg: #c56e0e;
  --sc-exceptions-fg: #f93232;
  --sc-numbers-fg: #dd3c2f;
  --sc-strings-fg: #00a33f;
  --sc-strings-escape-sequences-bg: #fbe9ad44;
  --sc-strings-regular-expressions-fg: #699d36;
  --sc-strings-symbols-bg: #e8ffd5;
  --sc-object-keys-fg: #444444;
  --sc-embedded-source-fg: #434343;
  --sc-html-doctype-declaration-fg: #7f7f7f;
  --sc-html-tags-fg: #0072c8;
  --sc-html-tag-punctuation-fg: #4f9fcf;
  --sc-css-selectors-fg: #3a77bf;
  --sc-css-property-values-fg: #43a202;
  --sc-markup-changed-bg: #ffffdd;
  --sc-markup-deletion-bg: #ffdddd;
  --sc-markup-insertion-bg: #ddffdd;
  --sc-markup-prompt-fg: #555555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --sc-background-color-light: rgb(73, 128, 209, 0.1);
    --sc-background-color: rgb(20, 20, 20);
    --sc-background-color-layer: rgb(38 38 38);
    --sc-inline-code-background-color: rgb(32, 32, 32);
    --sc-line-highlight-color: #c2e8ff35;
    --sc-line-number-color: #adadad;
    --sc-link-color: rgb(94 159 255);
    --sc-text-color-light: rgba(230, 230, 230, 0.2);
    --sc-text-color: rgb(230, 230, 230);

    --sc-scrollbar-background: transparent;
    --sc-thumb-background: rgba(230, 230, 230, 0.4);

    --sc-editor-findmatchbackground: #ffe792;
    --sc-editor-findmatchhighlightbackground: #ffe79250;
    --sc-editor-foreground: #c8c8c8;
    --sc-editor-inactiveselectionbackground: #dbf0fc20;
    --sc-editor-linehighlightbackground: #a5a5a520;
    --sc-editor-selectionbackground: #3d87f560;
    --sc-editor-selectionhighlightbackground: #3d87f530;
    --sc-editorbrackethighlight-foreground2: #b2b2b2;
    --sc-editorbrackethighlight-foreground3: #949494;
    --sc-editorbrackethighlight-foreground4: #b27bb9;
    --sc-editorbrackethighlight-foreground5: #f06efb;
    --sc-editorbrackethighlight-unexpectedbracket-foreground: #db584d;
    --sc-editorcursor-foreground: #f06efb;
    --sc-editorlinenumber-foreground: #adadad;
    --sc-editorwhitespace-foreground: #e0e0e020;
    --sc-focusborder: #3d87f5;
    --sc-list-focushighlightforeground: #ffffff;
    --sc-comments-fg: #919191;
    --sc-comments-documentation-fg: #bc670f;
    --sc-comments-documentation-bg: #fffdf7;
    --sc-invalid-deprecated-fg: #ffffff;
    --sc-invalid-deprecated-bg: #990000;
    --sc-types-fg: #eb9a3d;
    --sc-exceptions-fg: #f93232;
    --sc-numbers-fg: #db584d;
    --sc-strings-fg: #52ce81;
    --sc-strings-escape-sequences-bg: #fbe9ad44;
    --sc-strings-regular-expressions-fg: #699d36;
    --sc-strings-symbols-bg: #e8ffd5;
    --sc-object-keys-fg: #444444;
    --sc-embedded-source-fg: #434343;
    --sc-html-doctype-declaration-fg: #c8c8c8;
    --sc-html-tags-fg: #6a93cf;
    --sc-html-tag-punctuation-fg: #4f9fcf;
    --sc-css-selectors-fg: #3a77bf;
    --sc-css-property-values-fg: #43a202;
    --sc-markup-changed-bg: #ffffdd;
    --sc-markup-deletion-bg: #ffdddd;
    --sc-markup-insertion-bg: #ddffdd;
    --sc-markup-prompt-fg: #555555;
  }

  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}

h1 {
  margin: 0 0 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

li {
  margin: 0.5em 0;
}

pre {
  font-size: 1em;
  line-height: 1.2em;
}

pre div.code-container,
pre.shiki {
  background-color: var(--sc-background-color);
  color: var(--sc-text-color);
  position: relative;
  padding-right: 12px;
  font-family: 'Fira Code', monospace;
}

pre[data-title] {
  margin-top: 1.2em;
  padding-top: 4px;
}

pre[data-title]::before {
  background-color: var(--sc-background-color);
  color: var(--sc-comments-fg);
  content: attr(data-title);
  display: inline-block;
  left: 46px;
  margin-bottom: 4px;
  padding: 2px 0.4rem 4px 0.4rem;
  position: absolute;
  top: -1.2em;
}

pre.shiki > div > a {
  display: none;
}

pre.shiki .language-id {
  display: none;
}

pre.shiki .code-title {
  background-color: var(--sc-background-color);
  color: var(--sc-comments-fg);
  font-family: 'Fira Code', monospace;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 46px;
  padding: 2px 0.4rem 4px 0.4rem;
}

pre .code-container::-webkit-scrollbar,
pre.shiki code::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
pre .code-container,
pre.shiki code {
  scrollbar-width: thin;
  scrollbar-color: var(--thumb-background) var(--sc-scrollbar-background);
}
pre .code-container::-webkit-scrollbar-track,
pre.shiki code::-webkit-scrollbar-track {
  background: var(--sc-scrollbar-background);
}
pre .code-container::-webkit-scrollbar-thumb,
pre.shiki code::-webkit-scrollbar-thumb {
  background-color: var(--thumb-background);
  border-radius: 6px;
  border: 1px solid var(--sc-scrollbar-background);
}

pre .code-container,
pre.shiki code {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

pre code {
  counter-increment: step 0;
  counter-reset: step;
  font-family: 'Fira Code', monospace;
  white-space: pre;
}

pre code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  margin-right: 12px;
  display: inline-block;
  text-align: right;
  color: var(--sc-line-number-color);
}

h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code,
p code,
li > code,
li a > code,
ul > code {
  background: var(--sc-inline-code-background-color);
  overflow-wrap: anywhere;
  margin-top: -20px;
  display: inline-block;
}

pre code div.line.highlight,
pre code span.line.highlighted,
pre code div.line.highlighted {
  font-weight: bold;
  background-color: var(--sc-line-highlight-color);
  border-radius: 10px;
}
